swagger: "2.0"
info:
  title: api/racing/racing.proto
  version: version not set
tags:
  - name: Racing
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1/races:
    get:
      summary: ListRaces returns a list of all races. It can be filtered by meeting IDs.
      operationId: Racing_ListRaces
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/racingListRacesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: meetingId
          description: MeetingId is an optional list of meeting IDs to filter the races.
          in: query
          required: false
          type: array
          items:
            type: string
            format: int64
          collectionFormat: multi
        - name: visibleOnly
          description: VisibleOnly indicates whether to return only visible races.
          in: query
          required: false
          type: boolean
        - name: orderBy
          description: |-
            OrderBy specifies the ordering of the returned races.

             - UNSPECIFIED: UNSPECIFIED indicates no specific ordering.
             - ADVERTISED_START_TIME_ASC: ADVERTISED_START_TIME_ASC orders by advertised start time in
            ascending order.
             - ADVERTISED_START_TIME_DESC: ADVERTISED_START_TIME_DESC orders by advertised start time in
            descending order.
             - NUMBER_ASC: NUMBER_ASC orders by race number in ascending order.
             - NUMBER_DESC: NUMBER_DESC orders by race number in descending order.
             - NAME_ASC: NAME_ASC orders by race name in ascending order.
             - NAME_DESC: NAME_DESC orders by race name in descending order.
             - MEETING_ID_ASC: MEETING_ID_ASC orders by meeting ID in ascending order.
             - MEETING_ID_DESC: MEETING_ID_DESC orders by meeting ID in descending order.
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - UNSPECIFIED
              - ADVERTISED_START_TIME_ASC
              - ADVERTISED_START_TIME_DESC
              - NUMBER_ASC
              - NUMBER_DESC
              - NAME_ASC
              - NAME_DESC
              - MEETING_ID_ASC
              - MEETING_ID_DESC
          collectionFormat: multi
      tags:
        - Racing
  /v1/races/{raceId}:
    get:
      summary: GetRace returns a specific race by its ID.
      operationId: Racing_GetRace
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/racingRace'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: raceId
          description: The ID of the race to retrieve.
          in: path
          required: true
          type: string
          format: int64
      tags:
        - Racing
definitions:
  ListRacesRequestOrderBy:
    type: string
    enum:
      - UNSPECIFIED
      - ADVERTISED_START_TIME_ASC
      - ADVERTISED_START_TIME_DESC
      - NUMBER_ASC
      - NUMBER_DESC
      - NAME_ASC
      - NAME_DESC
      - MEETING_ID_ASC
      - MEETING_ID_DESC
    default: UNSPECIFIED
    description: |2-
       - UNSPECIFIED: UNSPECIFIED indicates no specific ordering.
       - ADVERTISED_START_TIME_ASC: ADVERTISED_START_TIME_ASC orders by advertised start time in
      ascending order.
       - ADVERTISED_START_TIME_DESC: ADVERTISED_START_TIME_DESC orders by advertised start time in
      descending order.
       - NUMBER_ASC: NUMBER_ASC orders by race number in ascending order.
       - NUMBER_DESC: NUMBER_DESC orders by race number in descending order.
       - NAME_ASC: NAME_ASC orders by race name in ascending order.
       - NAME_DESC: NAME_DESC orders by race name in descending order.
       - MEETING_ID_ASC: MEETING_ID_ASC orders by meeting ID in ascending order.
       - MEETING_ID_DESC: MEETING_ID_DESC orders by meeting ID in descending order.
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  racingListRacesResponse:
    type: object
    properties:
      races:
        type: array
        items:
          type: object
          $ref: '#/definitions/racingRace'
        description: Races is a list of horse racing events.
    description: ListRacesResponse represents a response to the ListRaces call.
  racingRace:
    type: object
    properties:
      id:
        type: string
        format: int64
        description: ID represents a unique identifier for the race.
      meetingId:
        type: string
        format: int64
        description: MeetingID represents a unique identifier for the races meeting.
      name:
        type: string
        description: Name is the official name given to the race.
      number:
        type: string
        format: int64
        description: Number represents the number of the race.
      visible:
        type: boolean
        description: Visible represents whether or not the race is visible.
      advertisedStartTime:
        type: string
        format: date-time
        description: AdvertisedStartTime is the time the race is advertised to run.
      status:
        $ref: '#/definitions/racingRaceStatus'
        description: Status represents the current status of the race.
    description: Race represents a horse racing event.
  racingRaceStatus:
    type: string
    enum:
      - UNSPECIFIED
      - OPEN
      - CLOSED
    default: UNSPECIFIED
    description: |-
      Status represents the current status of the race.

       - OPEN: OPEN indicates the race is open for betting.
       - CLOSED: CLOSED indicates the race is closed for betting.
